{{outlet}}
<p>
  If you'd really like to contact Alexa, she doesn't have a phone or email so please
  don't try using that.
</p>

<p>Contact her using phone or email:</p>

<p>
  Alexa Z Inc.
  1600 Pennsylvania Avenue
  WashingtonDC.com
</p>

<p>
  1-800-yep-im-ALEXA
</p>

<h1>
  ALEXA@ImJustMe.com
</h1>

{{#link-to 'index'}}Home{{/link-to}}
